<h1 class="jasmine-title text-center">Groups</h1>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Group Name</th>
    <th scope="col" *ngIf="role=='admin'">Edit</th>
    <th scope="col" *ngIf="role=='admin'">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let group of groupService.allGroups">
    <td>{{group.groupName}}</td>
    <td>
      <button class="btn text-danger" (click)="edit(group)" data-toggle="modal" data-target="#editModel" *ngIf="role=='admin'">
        Edit
      </button>
    </td>
    <td>
      <button class="btn text-danger" (click)="deleteGroup(group.id)" *ngIf="role=='admin'">
        Delete
      </button>
    </td>
  </tr>
</table>

<div id="addModel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="margin-left: auto; margin-right: auto" class="modal-title" >Create Group</h4>
      </div>
      <!-- model body section -->
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-md-6">
            <label for="groupName">Group name:</label>
            <input #groupName id="groupName" [(ngModel)]="groupService.currentGroup.groupName" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal"
                (click)="createGroup(groupService.currentGroup)">Create</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModel"  *ngIf="role=='admin'"
>Add Group</button>

<div id="editModel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="margin-left: auto; margin-right: auto" class="modal-title">Edit Group</h4>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-md-6">
            <input value="{{groupService.currentGroup?.id}}" #touristId type="hidden"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="newFirstName" class="col-md-4 col-form-label text-md-right">Name:</label>
          <div class="col-md-6">
            <input value="{{groupService.currentGroup.groupName}}" #newFirstName id="newFirstName" [(ngModel)]="groupService.currentGroup.groupName"/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal"
                (click)="update(groupService.currentGroup)">
          Save
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
