<h1 class="jasmine-title text-center">Marks</h1>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Teacher</th>
    <th scope="col">Subject</th>
    <th scope="col">Student</th>
    <th scope="col">Mark</th>
    <th scope="col" *ngIf="role=='teacher'">Edit</th>
    <th scope="col" *ngIf="role=='teacher'">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let mark of service.allMarks">
    <td>{{mark.teacher}}</td>
    <td>{{mark.subject}}</td>
    <td>{{mark.student}}</td>
    <td>{{mark.mark}}</td>
    <td>
      <button class="btn text-danger" (click)="edit(mark)" data-toggle="modal" data-target="#editModel" *ngIf="role=='teacher'">
        Edit
      </button>
    </td>
    <td>
      <button class="btn text-danger" (click)="delete(mark.id)" *ngIf="role=='teacher'">
        Delete
      </button>
    </td>
  </tr>
</table>

<div id="addModel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="margin-left: auto; margin-right: auto" class="modal-title" >Create Subject</h4>
      </div>
      <!-- model body section -->
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-md-6">
            <label for="mark">Mark:</label>
            <input type="number" #mark id="mark" [(ngModel)]="service.currentMark.mark"/>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="teacher">Teacher:</label>
            <select (change)="getAllSubjects()" #teacher class="browser-default custom-select form-control" id="teacher" [(ngModel)]="service.currentMark.teacher">
              <option *ngFor="let teacher of teacherService.allTeachers" >{{teacher.fullName}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="student">Student:</label>
            <select #student class="browser-default custom-select form-control" id="student" [(ngModel)]="service.currentMark.student">
              <option *ngFor="let student of studentService.allStudents" >{{student.fullName}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="subject">Subject:</label>
            <select #subject class="browser-default custom-select form-control" id="subject" [(ngModel)]="service.currentMark.subject">
              <option *ngFor="let subject of subjectService.allSubjects" >{{subject.subjectName}}</option>
            </select>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal"
                (click)="create(service.currentMark, student.value, subject.value, teacher.value)">Create</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModel"  *ngIf="role=='teacher'"
>Add Mark</button>

<div id="editModel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 style="margin-left: auto; margin-right: auto" class="modal-title">Edit Mark</h4>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-md-6">
            <input value="{{service.currentMark?.id}}" #touristId type="hidden"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="newFirstName" class="col-md-4 col-form-label text-md-right">Name:</label>
          <div class="col-md-6">
            <input type="number" value="{{service.currentMark?.mark}}" #newFirstName id="newFirstName" [(ngModel)]="service.currentMark.mark"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="newTeacher" class="col-md-4 col-form-label text-md-right">Teacher:</label>
          <div class="col-md-6">
            <select #newTeacher class="browser-default custom-select form-control" id="newTeacher" [(ngModel)]="service.currentMark.teacher">
              <option *ngFor="let teacher of teacherService.allTeachers" >{{teacher.fullName}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="newStudent" class="col-md-4 col-form-label text-md-right">Student:</label>
          <div class="col-md-6">
            <select #newStudent class="browser-default custom-select form-control" id="newStudent" [(ngModel)]="service.currentMark.student">
              <option *ngFor="let student of studentService.allStudents" >{{student.fullName}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="newSubject" class="col-md-4 col-form-label text-md-right">Subject:</label>
          <div class="col-md-6">
            <select #newSubject class="browser-default custom-select form-control" id="newSubject" [(ngModel)]="service.currentMark.subject">
              <option *ngFor="let subject of subjectService.allSubjects" >{{subject.subjectName}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal"
                (click)="update(service.currentMark, newStudent.value, newSubject.value, newTeacher.value)">
          Save
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
